.selectedRestaurantContainer{
    margin-bottom: 3rem;
}

/* Selected Restaurant Head CSS */

.selectedRestaurantHead{
    width: 100%;
}

.imageContainer{
    width: 100%;
}

@media only screen and (min-width: 992px) {

    .imageContainer{
        margin-bottom: 4em;
    }

}

.backgroundImage{
    width: 100%;
    position: relative;
}

.imageBackground{
    width: 100%;
    height: 12rem;
    background-size: cover;
}

@media only screen and (min-width: 992px) {

    .imageBackground{
        height: 15rem;
    }

}

/* @media only screen and (min-width: 992px) {

    .backgroundImage{

    }

} */

.logoImage{
    width: 30%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
}

@media only screen and (min-width: 992px) {

    .logoImage{
        width: 10%;
        left: 90%;
        top: 60%;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.07);
    }

}


.descriptionRestaurantContainer{
    margin: 2rem;
}

@media only screen and (min-width:992px){
    .descriptionRestaurantContainer{
        padding-right: 50%;
    }
}

.restaurantName{
    font-weight: bold;
    font-size: 1.5rem;
}

@media only screen and (min-width:992px){
    .restaurantName{
        font-size: 3rem;
    }
}


.restaurantDescription{
    font-size: 1rem;
    color: rgb(107, 107, 107);
}

/* Selected Restaurant Head CSS */

.productsContainer{
    margin: 1rem;
}

@media only screen and (min-width:992px){
    .productsContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

/* Pizza Card CSS */

.pizzaTitle{
    position:relative;
    margin-left: 5rem;
    margin-bottom: 2rem;
}
@media only screen and (min-width:992px){
    .pizzaTitle{
        width: 100%;
    }
}

.pizzaTitle::before{
    content: " ";
    background-size: contain;
    width: 40px;
    height: 40px;
    background-image: url('../../../assets/images/icons/menu.svg');
    position: absolute;
    top: -10%;
    left: -20%;
    background-repeat: no-repeat;
}

@media only screen and (min-width:992px){
    .pizzaTitle::before{
        left: -4%;
    }
}

.pizzaCard{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.07);
    border-radius: 10px;
}

@media only screen and (min-width:992px){
    .pizzaCard{
        width: 30%;
        margin: 1.4rem;
    }
}

.pizzaDescriptionContainer{
    width: 70%;
    padding: 1rem;
}

.nomePizza{
    font-size: 1rem;
}

.descrizionePizza{
    font-size: .7rem;
    font-weight: normal;
}

.prezzoPizza{
    font-weight: normal;
    font-size: .8rem;
}

.addButtonContainer{
    width: 30%;
    position: relative;
}

.addButton{
    width: 50%;
    padding: .5rem;
    text-align: center;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: coral;
    border-radius: 20px;
}

/* Pizza Card CSS */

.productsDrinksContainer{
    margin: 4rem 1rem 1rem 1rem;
}

@media only screen and (min-width:992px){
    .productsDrinksContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

/* Drinks Card CSS */

.drinkTitle{
    position:relative;
    margin-left: 5rem;
    margin-bottom: 2rem;
}

@media only screen and (min-width:992px){
    .drinkTitle{
        width: 100%;
    }
}

.drinkTitle::before{
    content: " ";
    background-size: contain;
    width: 40px;
    height: 40px;
    background-image: url('../../../assets/images/icons/soft-drink.svg');
    position: absolute;
    top: -10%;
    left: -20%;
    background-repeat: no-repeat;
}

@media only screen and (min-width:992px){
    .drinkTitle::before{
        left: -4%;
    }
}

.drinksCard{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.07);
    border-radius: 10px;
}

@media only screen and (min-width:992px){
    .drinksCard{
        width: 30%;
        margin: 1.4rem;
    }
}

.drinksDescriptionContainer{
    width: 70%;
    padding: 1rem;
}

.drinkName{
    font-size: 1rem;
}

.drinkDescription{
    font-size: .7rem;
    font-weight: normal;
}

.drinkPrice{
    font-weight: normal;
    font-size: .8rem;
}

.addButtonContainer{
    width: 30%;
    position: relative;
}

.addButton{
    width: 30%;
    padding: .5rem;
    text-align: center;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(212, 212, 212);
    border-radius: 20%;
}

/* Drinks Card CSS */