.headerContainer{
    display: block;
}

.logo{
    width: 25%;
    padding: 0;
    margin-left: 1rem ;
}

.hamburgerMenu{
    margin-right: 1rem;
}

.homeLink, .restaurantsLink, .aboutUsLink{
    text-align: right;
    margin-right: 1rem;
}

@media only screen and (min-width: 992px) {
    .homeLink, .restaurantsLink, .aboutUsLink{
        text-align: unset;
        margin: 0;
    }

    .linkContainer{
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
    }
  }