.headerContainer{
    display: block;
}

.logo{
    width: 25%;
    padding: 0;
    margin-left: 1rem ;
}

.hamburgerMenu{
    margin-right: 1rem;
}

.homeLink, .restaurantsLink, .loginLink, .orderLink, .profileLink{
    color: unset;
    text-decoration: none;
    color: unset;
    text-decoration: none;
    text-align: right;
    padding-right: 1.5rem;
    margin: .5rem;
    position: relative;
}

.homeLink::before{
    content: " ";
    background-size: contain;
    width: 25px;
    height: 25px;
    background-image: url('../../assets/images/icons/home.png');
    position: absolute;
    top: -10%;
    left: 72%;
    background-repeat: no-repeat;
}   

.restaurantsLink::before{
    content: " ";
    background-size: contain;
    width: 25px;
    height: 25px;
    background-image: url('../../assets/images/icons/restaurant.png');
    position: absolute;
    top: 0%;
    left: 65%;
    background-repeat: no-repeat;
}   

.loginLink::before{
    content: " ";
    background-size: contain;
    width: 25px;
    height: 25px;
    background-image: url('../../assets/images/icons/login.png');
    position: absolute;
    top: -10%;
    left: 45%;
    background-repeat: no-repeat;
}   

.profileLink::before{
    content: " ";
    background-size: contain;
    width: 25px;
    height: 25px;
    background-image: url('../../assets/images/icons/login.png');
    position: absolute;
    top: -10%;
    left: 70%;
    background-repeat: no-repeat;
}   

.orderLink::before{
    content: " ";
    background-size: contain;
    width: 25px;
    height: 25px;
    background-image: url('../../assets/images/icons/order.svg');
    position: absolute;
    top: -10%;
    left: 60%;
    background-repeat: no-repeat;
}



@media only screen and (min-width: 992px) {
    .homeLink, .restaurantsLink, .loginLink{
        text-align: unset;
        margin-right: 1rem;
    }

    .homeLink::before{
        left: -50%;
    }

    .restaurantsLink::before{
        left: -40%;
        top: -10%;
    }

    .loginLink::before{
        left:-20%;
    }

    .profileLink::before{
        left: -45%;
    }   

    .orderLink::before{
        left: -30%;
    }

    .linkContainer{
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
    }
  }