.homeContainer{
    width: 100%;
    /* margin-top: 3rem; */
}

.backgroundImage{
    width: 100%;
}

.headerImageContainer{
    width: 100%;
    position: relative;
}

.title{
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width:992px){
    .title{
        font-size: 3rem;
        left: 30%;
        top: 40%;
    }
}

.subTitle{
    color: white;
    position: absolute;
    top: 65%;
    left: 60%;
    width: 46%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width:992px){
    .subTitle{
        top: 50%;
        left: 60%;
    }
}

.carouselContainer{
    margin-top: 10rem;
    width: 100%;
}

@media only screen and (min-width:992px){
    .carouselContainer{
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


.carouselSubContainer{
    width: 100%;
}

@media only screen and (min-width:992px){
    .carouselSubContainer{
        width: 40%;
        margin: 1rem;
    }
}

.carouselTitle{
    margin: 1rem;
}

@media only screen and (min-width:992px){
    .carouselTitle{
        width: 100%;
    }
}

.littleInformationContainer{
    display: none;
}

@media only screen and (min-width:992px){
    .littleInformationContainer{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        margin: 1rem;
    }
}

.littleInformationTitle{
    width: 100%;
    margin-top: 4rem;
}

.littleInformationDescription{
    width: 100%;
    margin-bottom: 4rem;
}

.downloadAppContainer{
    margin-top: 3rem;
}

.downloadTitle{
    margin: 1rem;
}