/* .backArrowContainer{
    margin: 1rem;
} */

.backArrowLink{
    text-decoration: none;
    display: flex;
    margin: .5rem 0;
}

.arrowImage{
    width: 6%;
    opacity: 50%;
    margin-left: 1rem;
}

@media only screen and (min-width:992px){
    .arrowImage{
        width: 3%;
    }
}

.arrowTitle{
    color: rgb(218, 218, 218);
    display: inline;
    margin-left: 1rem;
    margin-bottom: 0;
    font-weight: normal;
}