.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productContainer{
    width: 80%;
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid black;
}

.productInformationContainer{
    width: 65%;
    padding: 1rem;
}

.quantityContainer{
    width: 35%;
    padding: 1rem;
    display: flex;
    position: relative;
}

.addButton, .removebutton,.quantity{
    height: 3rem;
}

.addButton, .removebutton{
    width: 30%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    color: grey;
    cursor: pointer;
}

.quantity{
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: .5rem;
}

.totalContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
}

.totalTitle{
    width: 40%;
    margin: 1rem;
}

.totalNumber{
    width: 40%;
    margin: 1rem;
}

.proceedContainer{
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
}

.confirmLink{
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 1rem;
    background-color: rgb(0, 62, 87);
    border-radius: 10px;
}