.downloadMobileContainer{
    width: 100%;
}

@media only screen and (min-width:992px){
    .downloadMobileContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.mockupContainer{
    width: 100%;
}

@media only screen and (min-width:992px){
    .mockupContainer{
        width: 50%;
    }
}

.mockupImage{
    width: 100%;
}

.storeContainer{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width:992px){
    .storeContainer{
        width: 50%;
    }
}

.appleContainer{
    width: 50%;
}

@media only screen and (min-width:992px){
    .appleContainer{
        margin-top: 3rem;
    }
}

.appleStore{
    width: 100%;
}

.googleContainer{
    width: 50%;
    margin: 1rem;
}

.googlePlay{
    width: 100%;
}